<?php

/*
 * This is a template settings file. Fill in your settings below before renaming the file 
 * to settings.php
 */

define('RABBITMQ_HOST', 'rabbitmq.mydomain.org');
define('RABBITMQ_USER', 'user');
define('RABBITMQ_PASSWORD', 'password');
define('RABBITMQ_QUEUE_NAME', 'logs-queue');
define('RABBITMQ_EXCHANGE_NAME', 'logs-exchange');